In [ ]:
#exercise number 2 (pandas)

In [2]:
import pandas as pd
data = pd.read_csv('melb_data.csv')

In [3]:
data

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [19]:
df = pd.DataFrame(data)
print(df)

       Unnamed: 0        Suburb           Address  Rooms Type      Price  \
0               1    Abbotsford      85 Turner St      2    h  1480000.0
1               2    Abbotsford   25 Bloomburg St      2    h  1035000.0
2               4    Abbotsford      5 Charles St      3    h  1465000.0
3               5    Abbotsford  40 Federation La      3    h   850000.0
4               6    Abbotsford       55a Park St      4    h  1600000.0
...           ...           ...               ...    ...  ...        ...
18391       23540  Williamstown   8/2 Thompson St      2    t   622500.0
18392       23541  Williamstown      96 Verdon St      4    h  2500000.0
18393       23544     Yallambie      17 Amaroo Wy      4    h  1100000.0
18394       23545    Yarraville        6 Agnes St      4    h  1285000.0
18395       23546    Yarraville     33 Freeman St      4    h  1050000.0

      Method     SellerG        Date  Distance  ...  Bathroom  Car  Landsize  \
0          S      Biggin   3/12/2016       2.5  ...       1.0  1.0     202.0
1          S      Biggin   4/02/2016       2.5  ...       1.0  0.0     156.0
2         SP      Biggin   4/03/2017       2.5  ...       2.0  0.0     134.0
3         PI      Biggin   4/03/2017       2.5  ...       2.0  1.0      94.0
4         VB      Nelson   4/06/2016       2.5  ...       1.0  2.0     120.0
...      ...         ...         ...       ...  ...       ...  ...       ...
18391     SP        Greg  26/08/2017       6.8  ...       2.0  1.0       NaN
18392     PI     Sweeney  26/08/2017       6.8  ...       1.0  5.0     866.0
18393      S  Buckingham  26/08/2017      12.7  ...       3.0  2.0       NaN
18394     SP     Village  26/08/2017       6.3  ...       1.0  1.0     362.0
18395     VB     Village  26/08/2017       6.3  ...       2.0  2.0       NaN

       BuildingArea  YearBuilt  CouncilArea  Lattitude Longtitude  \
0               NaN        NaN        Yarra  -37.79960  144.99840
1              79.0     1900.0        Yarra  -37.80790  144.99340
2             150.0     1900.0        Yarra  -37.80930  144.99440
3               NaN        NaN        Yarra  -37.79690  144.99690
4             142.0     2014.0        Yarra  -37.80720  144.99410
...             ...        ...          ...        ...        ...
18391          89.0     2010.0          NaN  -37.86393  144.90484
18392         157.0     1920.0          NaN  -37.85908  144.89299
18393           NaN        NaN          NaN  -37.72006  145.10547
18394         112.0     1920.0          NaN  -37.81188  144.88449
18395         139.0     1950.0          NaN  -37.81829  144.87404

                  Regionname  Propertycount
0      Northern Metropolitan         4019.0
1      Northern Metropolitan         4019.0
2      Northern Metropolitan         4019.0
3      Northern Metropolitan         4019.0
4      Northern Metropolitan         4019.0
...                      ...            ...
18391   Western Metropolitan         6380.0
18392   Western Metropolitan         6380.0
18393  Northern Metropolitan         1369.0
18394   Western Metropolitan         6543.0
18395   Western Metropolitan         6543.0

[18396 rows x 22 columns]

In [68]:
df['BuildingArea']

0          NaN
1         79.0
2        150.0
3          NaN
4        142.0
         ...
18391     89.0
18392    157.0
18393      NaN
18394    112.0
18395    139.0
Name: BuildingArea, Length: 18396, dtype: float64

In [69]:
df['BuildingArea'].max

<bound method NDFrame._add_numeric_operations.<locals>.max of 0          NaN
1         79.0
2        150.0
3          NaN
4        142.0
         ...
18391     89.0
18392    157.0
18393      NaN
18394    112.0
18395    139.0
Name: BuildingArea, Length: 18396, dtype: float64>

In [14]:
df['BuildingArea'].max()

44515.0

In [16]:
df.head()

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [21]:
df.describe()

,Unnamed: 0,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,18396.000000,18396.000000,1.839600e+04,18395.000000,18395.000000,14927.000000,14925.000000,14820.000000,13603.000000,7762.000000,8958.000000,15064.000000,15064.000000,18395.000000
mean,11826.787073,2.935040,1.056697e+06,10.389986,3107.140147,2.913043,1.538492,1.615520,558.116371,151.220219,1965.879996,-37.809849,144.996338,7517.975265
std,6800.710448,0.958202,6.419217e+05,6.009050,95.000995,0.964641,0.689311,0.955916,3987.326586,519.188596,37.013261,0.081152,0.106375,4488.416599
min,1.000000,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,5936.750000,2.000000,6.330000e+05,6.300000,3046.000000,2.000000,1.000000,1.000000,176.500000,93.000000,1950.000000,-37.858100,144.931193,4294.000000
50%,11820.500000,3.000000,8.800000e+05,9.700000,3085.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.803625,145.000920,6567.000000
75%,17734.250000,3.000000,1.302000e+06,13.300000,3149.000000,3.000000,2.000000,2.000000,651.000000,174.000000,2000.000000,-37.756270,145.060000,10331.000000
max,23546.000000,12.000000,9.000000e+06,48.100000,3978.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [46]:
df2 = pd.DataFrame(df , columns = ['Method','Suburb','SellerG'])
df2

      Method        Suburb     SellerG
0          S    Abbotsford      Biggin
1          S    Abbotsford      Biggin
2         SP    Abbotsford      Biggin
3         PI    Abbotsford      Biggin
4         VB    Abbotsford      Nelson
...      ...           ...         ...
18391     SP  Williamstown        Greg
18392     PI  Williamstown     Sweeney
18393      S     Yallambie  Buckingham
18394     SP    Yarraville     Village
18395     VB    Yarraville     Village

[18396 rows x 3 columns]

In [47]:
df2.describe()

       Method     Suburb SellerG
count   18396      18396   18396
unique      5        330     305
top         S  Reservoir  Nelson
freq    12034        541    2002

In [50]:
df['Rooms']<4

0         True
1         True
2         True
3         True
4        False
         ...
18391     True
18392    False
18393    False
18394    False
18395    False
Name: Rooms, Length: 18396, dtype: bool

In [53]:
df

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [61]:
df.iloc[2:5]

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [64]:
df.index

RangeIndex(start=0, stop=18396, step=1)

In [66]:
df2.index

RangeIndex(start=0, stop=18396, step=1)

In [70]:
df4 = df.copy
df4

<bound method NDFrame.copy of        Unnamed: 0        Suburb           Address  Rooms Type      Price  \
0               1    Abbotsford      85 Turner St      2    h  1480000.0
1               2    Abbotsford   25 Bloomburg St      2    h  1035000.0
2               4    Abbotsford      5 Charles St      3    h  1465000.0
3               5    Abbotsford  40 Federation La      3    h   850000.0
4               6    Abbotsford       55a Park St      4    h  1600000.0
...           ...           ...               ...    ...  ...        ...
18391       23540  Williamstown   8/2 Thompson St      2    t   622500.0
18392       23541  Williamstown      96 Verdon St      4    h  2500000.0
18393       23544     Yallambie      17 Amaroo Wy      4    h  1100000.0
18394       23545    Yarraville        6 Agnes St      4    h  1285000.0
18395       23546    Yarraville     33 Freeman St      4    h  1050000.0

      Method     SellerG        Date  Distance  ...  Bathroom  Car  Landsize  \
0          S      Biggin   3/12/2016       2.5  ...       1.0  1.0     202.0
1          S      Biggin   4/02/2016       2.5  ...       1.0  0.0     156.0
2         SP      Biggin   4/03/2017       2.5  ...       2.0  0.0     134.0
3         PI      Biggin   4/03/2017       2.5  ...       2.0  1.0      94.0
4         VB      Nelson   4/06/2016       2.5  ...       1.0  2.0     120.0
...      ...         ...         ...       ...  ...       ...  ...       ...
18391     SP        Greg  26/08/2017       6.8  ...       2.0  1.0       NaN
18392     PI     Sweeney  26/08/2017       6.8  ...       1.0  5.0     866.0
18393      S  Buckingham  26/08/2017      12.7  ...       3.0  2.0       NaN
18394     SP     Village  26/08/2017       6.3  ...       1.0  1.0     362.0
18395     VB     Village  26/08/2017       6.3  ...       2.0  2.0       NaN

       BuildingArea  YearBuilt  CouncilArea  Lattitude Longtitude  \
0               NaN        NaN        Yarra  -37.79960  144.99840
1              79.0     1900.0        Yarra  -37.80790  144.99340
2             150.0     1900.0        Yarra  -37.80930  144.99440
3               NaN        NaN        Yarra  -37.79690  144.99690
4             142.0     2014.0        Yarra  -37.80720  144.99410
...             ...        ...          ...        ...        ...
18391          89.0     2010.0          NaN  -37.86393  144.90484
18392         157.0     1920.0          NaN  -37.85908  144.89299
18393           NaN        NaN          NaN  -37.72006  145.10547
18394         112.0     1920.0          NaN  -37.81188  144.88449
18395         139.0     1950.0          NaN  -37.81829  144.87404

                  Regionname  Propertycount
0      Northern Metropolitan         4019.0
1      Northern Metropolitan         4019.0
2      Northern Metropolitan         4019.0
3      Northern Metropolitan         4019.0
4      Northern Metropolitan         4019.0
...                      ...            ...
18391   Western Metropolitan         6380.0
18392   Western Metropolitan         6380.0
18393  Northern Metropolitan         1369.0
18394   Western Metropolitan         6543.0
18395   Western Metropolitan         6543.0

[18396 rows x 22 columns]>

In [81]:
df3 = df.fillna(value = '***')
df3

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,***,***,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,***,***,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,***,89.0,2010.0,***,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,***,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,***,***,***,***,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,***,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,***,139.0,1950.0,***,-37.81829,144.87404,Western Metropolitan,6543.0

In [86]:
df5 = df.dropna()
df5

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.00,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.00,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.00,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
6,11,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,...,2.0,0.0,245.0,210.00,1910.0,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
7,14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,...,1.0,2.0,256.0,107.00,1890.0,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15388,19732,Whittlesea,30 Sherwin St,3,h,601000.0,S,Ray,29/07/2017,35.5,...,2.0,1.0,972.0,149.00,1996.0,Whittlesea,-37.51232,145.13282,Northern Victoria,2170.0
15389,19733,Williamstown,75 Cecil St,3,h,1050000.0,VB,Williams,29/07/2017,6.8,...,1.0,0.0,179.0,115.00,1890.0,Hobsons Bay,-37.86558,144.90474,Western Metropolitan,6380.0
15390,19734,Williamstown,2/29 Dover Rd,1,u,385000.0,SP,Williams,29/07/2017,6.8,...,1.0,1.0,0.0,35.64,1967.0,Hobsons Bay,-37.85588,144.89936,Western Metropolitan,6380.0
15392,19736,Windsor,201/152 Peel St,2,u,560000.0,PI,hockingstuart,29/07/2017,4.6,...,1.0,1.0,0.0,61.60,2012.0,Stonnington,-37.85581,144.99025,Southern Metropolitan,4380.0
15395,19739,Yarraville,54 Pentland Pde,6,h,2450000.0,VB,Village,29/07/2017,6.3,...,3.0,2.0,1087.0,388.50,1920.0,Maribyrnong,-37.81038,144.89389,Western Metropolitan,6543.0

In [91]:
df.isna()

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
18392,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
18393,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
18394,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
18395,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False